@import "./normalize.css";

h1,h2,h3,h4 {
  margin: 0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 初始化a标签样式 */
a {
  color: var(--color-text);
  text-decoration: none;
}
/* 清除浮动 */
.clear-fix::after {
  clear: both;
  contain: '';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}
.clear-fix {
  zoom: 1;
}

.sus {
  cursor: pointer;
}